@import '../../styles/variables.scss';

.modal {
  aside.help {
    padding-bottom: 4rem;

    main {
      max-width: 60rem;
      margin: auto;
    }
    h2 {
      margin-bottom: 0;
    }

    .examples {
      --cols: 3;
      @media (min-width: 800px) { --cols: 4; }
      display: grid;
      grid-template-columns: repeat(var(--cols), 1fr);
      grid-gap: 0 2rem;
      align-items: center;
      text-align: center;

      div {
        overflow: hidden;
      }
      div div {
        margin-top: -3rem;
        font-size: 1.8rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $color-mid;
      }

      img {
        width: 100%;
      }

    }
    .button {
      display: block;
      width: 100%;
      margin-top: 4rem;
    }
  }
}
