@import '../../styles/variables';

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-top: $border-width solid $color-main;
  padding: 0 1rem;

  div {
    flex: 1;
    opacity: 0;
    animation: fade-up 0.35s forwards;
    &:last-child {
      text-align: right;
    }
  }

  button.camera {
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $border-width solid $color-main;
    background: $color-white;
    margin-top: -4rem;
    margin-bottom: 2rem;
  }
}
