@import '../../styles/variables.scss';

main.site .content {
  padding: 2rem;
  width: 80%;
  max-width: 60rem;
  margin: auto;
  position: relative;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);

  button {
    margin-bottom: 2.5rem;
    margin-left: 0;
  }

  span.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
