@import '../../styles/variables';

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: $border-width solid $color-main;

  img {
    height: 2.5rem;
  }
}
