@import '../../styles/variables';

.modal {
  display: grid;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 0;
  align-items: end;
  justify-content: center;
  --padding: 2rem;
  @media (min-width: 800px) { --padding: 4rem; }

  &.center {
    padding: 8rem;
    align-items: center;

    aside {
      margin-bottom: 8rem;
    }
  }

  &, &:before {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  &:before {
    content: '';
    background: $color-main;
    opacity: 0.8;
    z-index: -1;
    animation: modal-fade-in 0.4s cubic-bezier(0,1,0.3,1);
  }


  aside {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: $color-white;
    display: inline-block;
    animation: slide-up 0.6s cubic-bezier(0,1,0.3,1.05);
    max-width: 60rem;
  }


  header, .content, footer {
    position: relative;
    z-index: 2;
  }

  header {
    --height: 6rem;
    @media (min-width: 800px) { --height: 8rem; }
    padding-left: var(--padding);
    padding-right: 1rem;
    height: var(--height);
    line-height: var(--height);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close {
      height: var(--height);
      width: var(--height);
      line-height: var(--height);
      flex-grow: 0;
      text-align: center;
      cursor: pointer;
      color: $color-mid;
    }
  }

  .content {
    padding: 2rem var(--padding);
  }

  footer {
    border-top: 0.1rem solid $color-main;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;

    button + button {
      margin-left: 2rem;
    }
  }
}


@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes modal-fade-in {
  from { opacity: 0; }
  to { transform: 0.8 }
}
