$color-main: #2D2D2D;
$color-mid: #757575;
$color-soft: #B0B0B0;
$color-softest: #EEEEEE;
$color-alt: #02AE51;
$color-white: white;
$color-alt-dark: darken($color-alt, 10%);

$ff-main: 'Space Grotesk';
$ff-hand: 'Caveat', cursive;

$border-width: 3px;
$border-radius: 4px;
